
<br><br><br><br><br>
<p class="ui container">Created by Xiaowen Xu <br> Enterprise Web Development (CMU 96-882) Demo(v1).</p>

<script>
    // ========================================================================== //
    // Search control
    // ========================================================================== //
    $("#search-btn").click(function () {
        $("#search-form").submit();
    });

    // ========================================================================== //
    // Forms of [show] control
    // ========================================================================== //
    $("#collect-form").hide();
    $("#collect-btn").click(function () {
        $("#collect-form").submit();
    });

    $("#dis-collect-form").hide();
    $("#dis-collect-btn").click(function () {
        $("#dis-collect-form").submit();
    });

    $("#vote-btn").click(function () {
        $("#vote-form").submit();
    });

    $("#addtag-btn").click(function () {

    });

    // ========================================================================== //
    // Front-end control
    // ========================================================================== //



</script>

</body>
</html>